<div class="content">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary btn-md new-post">New post</button>
        <div class="crop-container ">
            <div class="output-container">
                <!-- Insert thumbnail -->
                <section class="hidden" id="sectionThumbnail">
                    <div class="thumbnail" id="thumbnail"></div>
                </section>

                <section id="sectionDragAndDrop">
                    <div class="drop" id="drop">
                        <p>Drag & drop or click here to upload an image.</p>
                    </div>
                    <input class="file-upload hidden" id="fileUpload" type="file">
                </section>
            </div>
            <!-- Resize image -->
            <section class="hidden" id="sectionResize">
                <div class="image-resize" id="imageResize"></div>
            <button class="btn" id="crop"><span class='fa fa-crop'></span> Crop</button>
            </section>
        </div>

        <div class="row post">
            <div class="col-md-3">
                <div class="card">
                    <img src="./img/4d5f23dda58cd9c7f242eb3d00368ece.jpg" alt="">
                    <div class="card-body">
                        <h3 class="title">Camella House Name</h3>
                        <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="categories">
                            <button type="button" class="btn btn-light btn-sm">Subdivision</button>
                            <button type="button" class="btn btn-light btn-sm">House&Lot</button>
                            <button type="button" class="btn btn-light btn-sm">Appartment</button>
                        </div>
                        <div class="incharge">
                            <img src="./img/faces/avatar.jpg" alt="">
                        </div>
                        <div class="card-footer actions">
                            <button type="button" class="btn btn-primary btn-sm btn-block">Edit Post</button>
                            <button type="button" class="btn btn-secondary btn-sm delete"><i class="material-icons">delete</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="./img/4d5f23dda58cd9c7f242eb3d00368ece.jpg" alt="">
                    <div class="card-body">
                        <h3 class="title">Camella House Name</h3>
                        <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="categories">
                            <button type="button" class="btn btn-light btn-sm">Subdivision</button>
                            <button type="button" class="btn btn-light btn-sm">House&Lot</button>
                            <button type="button" class="btn btn-light btn-sm">Appartment</button>
                        </div>
                        <div class="incharge">
                            <img src="./img/faces/avatar.jpg" alt="">
                        </div>
                        <div class="card-footer actions">
                            <button type="button" class="btn btn-primary btn-sm btn-block">Edit Post</button>
                            <button type="button" class="btn btn-secondary btn-sm delete"><i class="material-icons">delete</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="./img/4d5f23dda58cd9c7f242eb3d00368ece.jpg" alt="">
                    <div class="card-body">
                        <h3 class="title">Camella House Name</h3>
                        <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="categories">
                            <button type="button" class="btn btn-light btn-sm">Subdivision</button>
                            <button type="button" class="btn btn-light btn-sm">House&Lot</button>
                            <button type="button" class="btn btn-light btn-sm">Appartment</button>
                        </div>
                        <div class="incharge">
                            <img src="./img/faces/avatar.jpg" alt="">
                        </div>
                        <div class="card-footer actions">
                            <button type="button" class="btn btn-primary btn-sm btn-block">Edit Post</button>
                            <button type="button" class="btn btn-secondary btn-sm delete"><i class="material-icons">delete</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="./img/4d5f23dda58cd9c7f242eb3d00368ece.jpg" alt="">
                    <div class="card-body">
                        <h3 class="title">Camella House Name</h3>
                        <p class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="categories">
                            <button type="button" class="btn btn-light btn-sm">Subdivision</button>
                            <button type="button" class="btn btn-light btn-sm">House&Lot</button>
                            <button type="button" class="btn btn-light btn-sm">Appartment</button>
                        </div>
                        <div class="incharge">
                            <img src="./img/faces/avatar.jpg" alt="">
                        </div>
                        <div class="card-footer actions">
                            <button type="button" class="btn btn-primary btn-sm btn-block">Edit Post</button>
                            <button type="button" class="btn btn-secondary btn-sm delete"><i class="material-icons">delete</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>